{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %} Home{% endblock %}
{% load static %}

{% block nav-home %}<a href="#" class="nav-active">{% bootstrap_icon "home" %} Home</a>{% endblock %}
{% block content %}
<div class="container container-swiper">
    {% if restaurant %}
    <p><a href="#" class="small-edit-profile location-edit-link" data-toggle="modal" data-target="#findMeModal">{% bootstrap_icon "map-marker" %} {{ user.profile.address }}</a></p>
    <div class="row swiper-main">
        <div class="card-group">
            <div class="card swiper-card">
                {% for picture in restaurant.pictures.all %}
                <img class="card-img-top card-img-swiper" src="/{{ picture.image }}" alt="{{ picture.name }}">
                {% endfor %}
                <div class="card-body">
                    <h2 class="card-text"> <a href="/swiper/restaurants/{{restaurant.id}}">{{ restaurant.name }}</a></h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-swiper">{{ restaurant.hours }}</li>
                    <li class="list-group-item list-group-swiper">{{ restaurant.address }}</li>
                    <li class="list-group-item list-group-swiper">{{ restaurant.description }}</li>
                </ul>
                <div class="card-body">
                    <form class="swiper-form" action="/swiper/remove-restaurant/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                        <button class="btn-swiper" value="deny" name="Deny">Eww</button>
                    </form>
                    <form class="swiper-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                        <button class="btn-swiper btn-secondary-swiper" value="add" name="Submit">Yum!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div id="cant-find-restaurant">
        <h2 class="center-me">Can't find a Gouda restaurant 🧐</h2>
        <p><a href="#" class="small-edit-profile location-edit-link" data-toggle="modal" data-target="#findMeModal">{% bootstrap_icon "map-marker" %} {{ user.profile.address }}</a></p>
    </div>
    {% endif %}
    <div class="modal fade" id="findMeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Update your location</h3>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addon1">Address</span>
                            <input id="address" type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Boston, MA" value="{{ user.profile.address }}">
                            <span class="input-group-btn">
                                <button type="button" id="submit" class="btn btn-primary btn-lg" name="Geocode" value="Geocode">Update</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-inline form-find-me">
                        <div class="input-group">
                            <button id="get-current-location" type="button" class="btn btn-success" name="Find My Location">My Location {% bootstrap_icon "arrow-right" %}</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-body">
                    <form action="/swiper/update-location/" method="post" class="form-inline">
                        {% csrf_token %}
                        <input id="user-lat" name="location_lat" type="hidden" value="">
                        <input id="user-lon" name="location_lon" type="hidden" value="">
                        <input id="user-add" name="address" type="hidden" value="">
                        <div class="input-group input-group-lg">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {lat: {% if user.profile.location_lat %}{{ user.profile.location_lat }}{% else %}40.7128{% endif %}, lng: {% if user.profile.location_lon %}{{ user.profile.location_lon }}{% else %}-74.0060{% endif %}},
        disableDefaultUI: true
      });
      var marker = new google.maps.Marker({
        map: map,
        position: map.center,
      });
      var geocoder = new google.maps.Geocoder();

      document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });

      document.getElementById('get-current-location').addEventListener('click', function() {
          geolocationAddress(geocoder, map);
        });
      }

       // Try HTML5 geolocation.
     function geolocationAddress(geocoder, resultsMap) {
       if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            console.log("made it here!");
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: pos,
            });
            document.getElementById('user-lat').value = pos.lat;
            document.getElementById('user-lon').value = pos.lng;
            geocoder.geocode({'location': pos}, function(results, status) {
              if (status === 'OK') {
                if (results[0]) {
                    document.getElementById('address').value = results[0].formatted_address;
                    document.getElementById('user-add').value = document.getElementById('address').value;
                } else {
                  window.alert('No results found');
                }
              } else {
                window.alert('Geocoder failed due to: ' + status);
              }
            });
            resultsMap.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, resultsMap.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, resultsMap.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        window.alert(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            document.getElementById('user-lat').value = (results[0].geometry.location.lat()).toFixed([6]);
            document.getElementById('user-lon').value = (results[0].geometry.location.lng()).toFixed([6]);
            document.getElementById('user-add').value = document.getElementById('address').value;
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
            });
            resultsMap.setZoom(14);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

    $('#findMeModal').on('shown.bs.modal', function() {
            initMap();
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0uKg9UiRd2ivKVzfP1lcjDq9pGQGt1Y&callback="></script>
</div>
{% endblock %}
