{% extends "base.html" %}

{% block title %} Home{% endblock %}

{% load static %}
{% block content %}
    <h2>Find a Gouda restaurant...</h2>
    <div class="card-group swiper-row">
        {% if restaurant %}
                <div class="card swiper-card">
                    {% for picture in restaurant.pictures.all %}
                        <img class="card-img-top card-img-swiper" src="/{{ picture.image }}" alt="{{ picture.name }}">
                    {% endfor %}
                  <div class="card-body">
                    <h2 class="card-text"> {{ restaurant.name }}</h2>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-swiper">{{ restaurant.hours }}</li>
                    <li class="list-group-item list-group-swiper">{{ restaurant.address }}</li>
                    <li class="list-group-item list-group-swiper">{{ restaurant.description }}</li>
                  </ul>
                  <div class="card-body">
                    <a class="btn-swiper" href="#">Eww</a>
                    <a class="btn-swiper btn-secondary-swiper" href="">Yum!</a>
                  </div>
                </div>
        {% else %}
            <p>No restaurants are available.</p>
        {% endif %}
    </div>



{% endblock %}
