{% extends "base.html" %}

{% block title %} Matches{% endblock %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container container-full">
    <div class="row">
        <h1>Restaurants</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {% if matches %}
                {% for match in matches %}
                    <h2>{{ match.restaurant }}</h2>
                    <p>{{ match.restaurant.description }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
