{% extends "base.html" %}

{% block title %} Matches{% endblock %}

{% block nav-matches %}<a href="#" class="nav-active">Matches</a>{% endblock %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="container container-full" onload="initElement();">
    <div class="row">
        <h1>Restaurants</h1>
    </div>
    <div class="row">
        {% if matches %}
            {% for match in matches %}
            <div class="card card-match" style="width: 30rem;">
                {% for picture in match.restaurant.pictures.all %}
                <img class="card-img-top" src="/{{ picture.image }}" alt="{{ picture.name }}">
                {% endfor %}
                <div class="card-body">
                    <h2 class="card-title">{{ match.restaurant }}</h2>
                    <p class="card-text">{{ match.restaurant.description }}</p>
                    <a href="/swiper/restaurants/{{match.restaurant.id}}" class="btn btn-success match-button">Open</a>
                </div>
                <div class="close-me">
                    <span id='close' data-toggle="modal" data-target="#myModal" data-whatever="{{ match.restaurant.pk }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h2>Hm. 😐 It doesn't appear you have any matches.</h2>
            <p>Maybe try clicking on the <a href="/swiper">Home</a> button?</p>
        {% endif %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3>Are you sure? {{ match.restaurant.pk }}</h3>
        </div>

        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="restaurant_id_matches" name="restaurant_id" value="">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
            </form>
        </div>
    </div>
  </div>
</div>

<script>
    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var restPk = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-header h3').text('Delete ' + restPk)
      modal.find('#restaurant_id_matches').val(restPk)
    })
</script>

{% endblock %}
