{% extends "base.html" %}

{% block title %} {{ user.username }}{% endblock %}

{% block nav-profile %}<a href="#" class="nav-active">Profile</a>{% endblock %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container container-full">
    <div class="row">
        <img class="profile-pic" src="/{{ user.profile_pic }}" alt="" />
        <h1>{{ user.username }}</h1>
    </div>
    <div class="row">
        <div class="card-group swiper-row">
            <h2>Good to see you, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</h2>
            <h3>First Name:  {% if user.first_name %}{{ user.first_name }}{% else %}<a href="#">Add me!</a>{% endif %}</h3>
            <h3>Last Name: {% if user.last_name %}{{ user.last_name }}{% else %}<a href="#">Add me!</a>{% endif %}</h3>
            <h3>Email: {% if user.email %}{{ user.email }}{% else %}<a href="#">Add me!</a>{% endif %}</h3>
            <h3>Location: {% if user.current_location_x and user.current_location_y%}{{ user.current_location_x }}, {{ user.current_location_y }}{% else %}<a href="#">Add me!</a>{% endif %}</h3>
        </div>
    </div>
</div>

{% endblock %}
