{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %} {{ user.username }}{% endblock %}

{% block nav-profile %}<a href="#" class="nav-active">Profile</a>{% endblock %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container container-full">
    <div class="row">
        <h1>Profile</h1>
        <div class="card-group">
            <div class="card swiper-card profile-card">
                {% bootstrap_icon "user" extra_classes="profile-icon" %}
                <h1>{{ user.username }}<a href="#" class="small-edit-profile" data-toggle="modal" data-target="#myModal"> {% bootstrap_icon "pencil" %}</a></h1>
                <p>Good to see you, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</p>
                <div class="card-body text-right">
                    <h4>First Name:  {% if user.first_name %}{{ user.first_name }}{% else %}<a href="#" data-toggle="modal" data-target="#myModal">Add me!</a>{% endif %}</h4>
                    <h4>Last Name: {% if user.last_name %}{{ user.last_name }}{% else %}<a href="#" data-toggle="modal" data-target="#myModal">Add me!</a>{% endif %}</h4>
                    <h4>Email: {% if user.email %}{{ user.email }}{% else %}<a href="#" data-toggle="modal" data-target="#myModal">Add me!</a>{% endif %}</h4>
                    <h4>Address: {% if user.profile.address %}{{ user.profile.address }}{% else %}<a href="#" data-toggle="modal" data-target="#myModal">Add me!</a>{% endif %}</h4>
                    <h4>Receive Emails?: {{ user.profile.receive_email }}</h4>
                </div>
            </div>
        </div>
    </div>
            <!-- ADD LATER <h3>Location: {% if user.current_location_x and user.current_location_y%}{{ user.current_location_x }}, {{ user.current_location_y }}{% else %}<a href="#" data-toggle="modal" data-target="#myModal">Add me!</a>{% endif %}</h3> -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>Edit {{ user.username }}</h3>
                    </div>
                	<form id="update-user-form" action="/swiper/update-profile/" method="post" role="form" style="display: block;">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1">Email</span>
                                <input type="text" name="email" class="form-control" placeholder="john@doe.com" aria-label="Username" aria-describedby="sizing-addon1" value="{% if user.email %}{{ user.email }}{% endif %}">
                            </div>
                            <br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1">First Name</span>
                                <input type="text" name="first_name" class="form-control" placeholder="John" aria-label="First Name" aria-describedby="sizing-addon1" value="{% if user.first_name %}{{ user.first_name }}{% endif %}">
                            </div>
                            <br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1">Last Name</span>
                                <input type="text" name="last_name" class="form-control" placeholder="Doe" aria-label="Last Name" aria-describedby="sizing-addon1" value="{% if user.last_name %}{{ user.last_name }}{% endif %}">
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                    <input type="checkbox" name="receive_email" value="{{ user.profile.receive_email }}"> Receive emails?
                                  </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="modal-body">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
