{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %} {{ restaurant.name }}{% endblock %}

{% block content %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container-fluid">
    <div class="row row-restaurant">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h1 class="restaurant-name-page">{{ restaurant.name }}</h1>
            <p class=""><span class="restaurant-fields">Hours:</span> {{ restaurant.hours }}</p>
            <p><span class="restaurant-fields">Location:</span> {{ restaurant.address }}</p>
            <p><span class="restaurant-fields">Description:</span> {{ restaurant.description }}</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 restaurant-pic">
            {% for picture in restaurant.pictures.all %}
                <img class="card-img-top card-img-swiper-restaurant" src="/{{ picture.image }}" alt="{{ picture.name }}">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
