{% extends "base.html" %}

{% block title %} Thank You{% endblock %}

{% load static %}
{% block content %}

<div class="container container-full container-about">
    <div class="row">
        <h1>GoudaTime</h1>
    </div>
    <div class="row">
        <h2>Thank you!</h2>
        <div class="col-centered">
            <div class="col-md-4">
                <div class="card-about">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar-about">
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-about">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar-about">
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-about">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar-about">
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
