<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>GoudaTime | Welcome</title>

</head>
<body>

<section class='container'>
          <hgroup>
            <h1>Welcome to GoudaTime</h1>
          </hgroup>


        <div class="row">
          <section class='col-xs-12 col-sm-6 col-md-6'>
          </section>
        </div>

        <footer>
          <div>Built with ❤️ by Gavin, Tatiana and Jio</div>
        </footer>
</section>


</body>
</html>
