/* $Base */
body {
  margine: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 500;
  color: #000;
  background-color: #202020;
  min-height: 100vh;
}

h1 {
  font-size: 38px;
  font-size: 2.375rem;
  font-weight: lighter;
  text-shadow: 1px 1px 0 #f2f2f2, 2px 2px 0 #f2f2f2;
}

/*
*******************
NAVIGATION
*******************
*/

.navbar-gouda {
    background-color: #124B52;
    border-bottom: none;
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    /*border-bottom: 1px solid #096673;*/
}

.navbar-right-buttons {
}

.navbar-right-buttons > .navbar-button-right {
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/* $Buttom */
.btn-swiper {
  display: inline-block;
  margin: 15px 15px 0;
  padding: .6em 1.1em;
  font-size: 33px;
  font-size: 1.825rem;
  font-weight: bolder;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ED203B;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #ffffff, 0 0 0 -1px #FE4365;
  border: none;
  height: 45px;
  width: 100px;
  -webkit-transition: -webkit-box-shadow .3s;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}
.btn-swiper:hover, a.btn-swiper:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #FE4365;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

.btn-secondary-swiper {
  background: #5ABA55;
  box-shadow: 0 0 0 -2px #ffffff, 0 0 0 -1px #5ABA59;
}
.btn-secondary-swiper:hover {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ABA55;
}

.btn-swiper:active,
.btn-secondary-swiper:active {
  background: #4ECDC4;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #3ac7bd;
}

.navbar-thicc {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a.nav-active {
    color: black;
    border-bottom: 2px solid black;
}

/**
 * $keyframes \ gelatine
 **/
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.swiper-card {
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  /*border: 1px solid black;*/
  width: 50%;
  margin: 0 auto;
  float: none;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.swiper-row {
  margin: 0 auto;
  float: none;
  width: 100%;
}

.card-img-swiper {
    border-radius: 5px;
    border: 1px solid #124B52;
}

.jumbotron {
    background: linear-gradient(to top right, #fff, #eee);
}

.jumbotron h1, .jumbotron .h1 {
    color: #000;
}

.card-img-top {
  background-image: url("../img/rest.jpg");
  width: 100%;
  background-size: cover;
  text-align: center;
  font-weight: lighter;
}

.list-group-swiper {
    background: linear-gradient(to top left, #124B52, #096673);
    color: #fff;
}

.footer {
    background-color: #202020;
    color: white;
    padding-bottom: 15px;
}


/* styles for the login/register page */
.login-please {
    padding-bottom: 20px;
}
.container-full {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.row-full {
    flex: 1;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


/*
****************
ABOUT
****************
*/

.src-image {
  display: none;
}

.card-about {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #096673;
  color: #eee;
  margin-top: 20px;
  padding: 3px;
}

.card-about .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card-about .avatar-about {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card-about .avatar-about img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
}

.card-about-h3 {
    padding: 3px;
    border: 2px solid white;
    margin: 30px;
}

.about-cols {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 18px;
}

.about-cols-p {
    text-align: left;
}


/*
*****************
PROFILE
*****************
*/

.profile-pic {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid white;
}

.small-edit-profile {
    font-size: 1.5rem;
}

.profile-icon {
    margin-top: 50px;
    font-size: 150px;
}

/*
*****************
SWIPER - HOME
*****************
*/

.swiper-form {
    display: inline-block;
}

/*
*****************
RESTAURANT PAGE
*****************
*/

.restaurant-display-info {
    text-align: left;
}

/*
*****************
MATCHES PAGE
*****************
*/

.card-match {
    background-color: white;
    float: left;
    margin: 30px;
    border-radius: 3px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-match .card-img-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-match .card-title {
    padding: 5px;
    margin-top: 0px;
    background: black;
    color: white;
}

.card-match .card-text {
    text-align: left;
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
}

.card-match .match-button {
    margin-bottom: 5px;
    width: 90%;
}

.close-me {
    margin-top: 10px;
    padding-bottom: 10px;
}


.input-group-addon {
    min-width: 100px;
    text-align: left;
}

.matches-x-button {
    font-size: 2rem;
}
