{% extends "base.html" %}

{% block title %} Home{% endblock %}

{% load static %}
{% block content %}
    <h1>You Gouda?</h1>
    <div class="card-group swiper-row">
      <div class="card swiper-card" style="width: 90rem;">
        <img class="card-img-top" src="{% static 'img/rest.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> My Favorite Resturant</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Hours | Location | Menu</li>
        </ul>
        <div class="card-body">
          <a class="btn" href="#">Eww</a>
          <a class="btn btn-secondary" href="#">Yum!</a>
        </div>
      </div>
    </div>



{% endblock %}
